// Color palette
$color-light: #394153;
$color-grey: #767e90;
$color-white: #FFFFFF;
$color-primary: #0C3D71;
$color-primary-hover: #3b7bc0;
$color-dark: #394153;
// $gradient: linear-gradient(99deg, $color-2, $color-3 23%, $color-5);
$shadow-primary: 0 10px 20px 0 rgba(122, 192, 11, 0.5);
$shadow-grey: 0 10px 20px 0 rgba(0, 0, 0, 0.05)
